body {
  background-color: #124A5A;
}

div {
  display: inline-block;
}

.centered{
  text-align:center;
}

.logo {
  padding: 5px 0 10px 0;
  text-align: center;
  background-color: #D25400;
  width: 100%;
  height: 50px;
}

#title {
  font-family: "Bookman";
  font-size: 32pt;
  color: white;
  width: 100%;
  position: relative;
}

#subtitle {
  font-family: "Georgia";
  font-size: 14pt;
  color: white;
}

#settings {
  position: absolute; 
  top: 10px;
  right: 10px;
  bottom: -1px;
  border: outset 1px darkgrey;
  border-radius: 15%;
  width: 50px;
  height: 40px;
  text-align: center;
  }

#cog{
  width: 34px;
  margin-top : 2px;
  filter: brightness(150%);
  height: auto;
}

/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    width: 400px; 
    height: 475px; 
    overflow:hidden;
    position:absolute;  
    background-color: rgba(0,0,0,0.4);  
}

#content {
    background-color: #ECF0F1;
    padding: 10px;
    width: 300px;
    height: 100%;
    display: block;
    font-family: "calibri";
    position: absolute;
}

#preferences {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  font-size: 16pt;
  margin-bottom: 10px;
}

#save {
  height: 40px; 
  width: 75px; 
  border: none;
  outline: none;
  cursor: pointer;
}

#email {
  margin-left: 5px;
  width: 240px;
  border: none;
  outline: none;
}

#clear {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
#clear:after {
	content: "X";
	display: block;
	width: 25px;
	height: 20px;
  padding-top: 5px;
	background-color: lightgrey;
	z-index:1; 
	border-radius: 50%;
	text-align: center;
	color: white;
	cursor: pointer;
}

.frame {
  height: 600px;
  width: 400px;
  border-style: solid;
  border-color: #D25400;
  background-color: #D25400;
  border-radius: 5px;
  position: fixed;
  left:0; right:0;
  top:0; bottom:0;
	margin:auto;
	max-width:100%;
	max-height:100%;
  overflow-y:auto;
  overflow-x:hidden;
  box-shadow: 5px 5px 15px rgba(0,0,0,.2);
}

.chatWindow {
  width: 100%;
  overflow:auto;  
  height: 475px; 
  background-color: #ECF0F1;
  position:relative;
}

#scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #EDEDED;
}

.send-white {
  color:#fff;
  background-color: #D25400;
}

.form {
  width: 100%;
  height: 60px;
  position:relative;
}

.form [name="keyword"] {
  font-family: 'calibri';
  border:none;
  position:absolute;
  resize: none;
  left:0;
  bottom:0;
  width: 330px;
  height: 60px;
}

.form [name="send"] {
  position:absolute;
  right:5px;
  bottom:0;
  width: 60px;
  height: 60px;
  border: 0;
  outline: none;
  background-color: #D25400;
  /*background-image: url("../img/send.png");*/
  background-repeat: no-repeat;
  background-position: center;
}

.callout {
	min-width: 200px;
  max-width: 320px;
  position: relative;
	padding: 6px;
	border-radius: 3px;
	margin: 10px;
	min-height: 20px;
  font-family: 'calibri';
}

.callout.right {
  float: right;
  background-color: #fff;
  color: #000;
}

.callout.left {
  float: left;
  background-color: #E77E22;
  color: #fff;
}

.callout::before {
	content: "";
	width: 0px;
	height: 5px;
	border: 0.3em solid transparent;
	position: absolute;
}

.callout.left::before {
	left: 7px;
	bottom: -20px;
	border-top: 10px solid #E77E22;
}

.callout.right::before {
	right: 7px;
	bottom: -20px;
	border-top: 10px solid #fff;
}


.berita {
  width: 150px;
  height: 150px;
  position: relative;
}
.foto {
  width: 150px;
  height: 150px;
  position: absolute;
}

.judul {
  z-index: 1;
  position: absolute;
  width: 150px;
  height: 150px;
  background: linear-gradient(transparent,transparent,black);
  cursor: pointer;
}

.bottom-text {
  position: absolute;
  bottom: 0;
  padding: 2px; 
  max-width: 150px;
  overflow: hidden;
  word-wrap: break-word;
}
