div {
  display: inline-block;
}

.centered{
  text-align:center;
}

.logo {
  padding: 5px 0 10px 0;
  text-align: center;
  background-color: #A3BF32;
  width: 100%;
  height: 75px;
}

#title {
  font-family: "Bookman";
  font-size: 32pt;
  color: white;
}

#subtitle {
  font-family: "Georgia";
  font-size: 14pt;
  color: white;
}

.frame {
  height: 600px;
  width: 400px;
  border-style: solid;
  border-color: #A3BF32;
  background-color: #A3BF32;
  border-radius: 5px;
  position: fixed;
  left:0; right:0;
  top:0; bottom:0;
	margin:auto;
	max-width:100%;
	max-height:100%;
  overflow:auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}

.chatWindow {
  width: 100%;
  overflow:auto;  
  height: 450px; 
  background-color: #ECF0F1;
}

#scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #EDEDED;
}

.send-white {
  color:#fff;
  background-color: #A3BF32;
}

.form {
  width: 100%;
  height: 60px;
  position:relative;
}

.form [name="keyword"] {
  font-family: 'calibri';
  border:none;
  position:absolute;
  resize: none;
  left:0;
  bottom:0;
  width: 330px;
  height: 60px;
}

.form [name="send"] {
  position:absolute;
  right:5px;
  bottom:0;
  width: 60px;
  height: 60px;
  border: 0;
  background-color: #A3BF32;
  /*background-image: url("../img/send.png");*/
  background-repeat: no-repeat;
  background-position: center;
}

.callout {
	min-width: 200px;
  max-width: 320px;
  position: relative;
	padding: 6px;
	border-radius: 3px;
	margin: 10px;
	min-height: 20px;
  font-family: 'calibri';
}

.callout.right {
  float: right;
  background-color: #fff;
  color: #000;
}

.callout.left {
  float: left;
  background-color: #55709F;
  color: #fff;
}

.callout::before {
	content: "";
	width: 0px;
	height: 5px;
	border: 0.3em solid transparent;
	position: absolute;
}

.callout.left::before {
	left: 7px;
	bottom: -20px;
	border-top: 10px solid #55709F;
}

.callout.right::before {
	right: 7px;
	bottom: -20px;
	border-top: 10px solid #fff;
}
